spring:
  application:
    name: lolien-discord-bot
  profiles:
    active: dev
  data:
    redis:
      repositories:
        enabled: false
  jpa:
    hibernate:
      use-new-id-generator-mappings: false
    open-in-view: true
    properties:
      hibernate:
        #show_sql: true
        dialect: org.hibernate.dialect.MariaDB103Dialect
  datasource:
    driverClassName: org.mariadb.jdbc.Driver
    hikari:
      max-lifetime: 540000

  mvc:
    favicon:
      enabled: false
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 150MB

config:
  file:
    path:
      windows: C:\config-%s.json
      linux: /usr/local/tomcat/conf/config-%s.json

springdoc:
  api-docs:
    groups:
      enabled: true
  swagger-ui:
    path: /swagger-ui.html
    displayRequestDuration: true
    groups-order: DESC

management:
  endpoints:
    web:
      base-path: /application
  endpoint:
    health:
      show-details: always

clien:
  service:
    url: https://www.clien.net/service/
  message:
    send:
      url: https://www.clien.net/service/api/messages/send/

#logging:
  #level:
    #org.hibernate.SQL: DEBUG
    #org.hibernate.type: TRACE